
.r-0{color:red;}
.car-head{
  height: 30px;
  line-height: 30px;
  b{
    font-size: 18px;
  }
  #car-num{
    display: inline-block;
    margin-left: 10px;
    padding:0 10px;
    line-height: 18px;
    color: #e4393c;
    border:1px solid #e4393c;
  }
}
.box-hd{
  padding-top: 10px;
  dl{
    border: 1px solid #ccc;
    background: #fff;
    dt{
      padding:0 10px;
      height: 40px;
      line-height: 40px;
      background: #f7f5fa;
      border-bottom: solid 1px #ccc;
      input{
        margin: 0;
      }
    }
    .glist{
      padding:0 10px;
      li{
        height: 100px;
        line-height: 100px;
        span{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img{
          width: 100px;
          height: 100px;
          display: block;
          float:left;
        }

      }
    }
    .omit{
      height: 50px;
      padding:10px;
      border-bottom: 1px dashed #ddd;
      span{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        
      }
    }
    .jies{
      background: #fdfbf2;
      height: 180px;
      margin-top: 10px; 
      padding: 30px 20px;
      min-height: 80px;
      line-height: 1.8em;
      p:last-child{
        a{
          display:block;
          width: 150px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #e61000;
          color:#FFF;
          margin-top: 20px;
        }
      }
    }
  }
}