
.on{
  color:#ee4242!important;
  border:1px solid #ee4242!important;
}
main{
  .crumb{
    p:nth-child(1){
      padding:10px 0;
    }
    p:nth-child(2){
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
      color:#ccc;
    }
  }
  .search{
    width: 100%;
    // line-height: 36px;
    // box-sizing:border-box;
    border-bottom: 1px dashed #ddd;
    .fstitel{
      font-weight: 700;
      width: 60px;
      height: 33px;
      line-height: 33px;
    }
    ul li{
      float:left;
      a{
        display:block;
        padding:5px;
        margin:0 5px;
        color:#777;
        // box-sizing: border-box;
        border:1px solid #fff;
      }
    }
  }
}