@import '_index';
body{min-width: 1200px;}
.r-0{color:#ed4242}
.ml-10{margin-left: 10px;}

.top{
  height: 80px;
  background:url('../img/toptupian.jpg') no-repeat;
}
.header-bar{
  height: 36px;
  color: #333;
  background: #ddd;
  ul:nth-child(1){
    >li:nth-child(1){
      margin-right: 25px;
      ul{
        position:absolute;
        display:none;
        background-color: #fff;
        li{
          a{
            @extend %a;
          }
        }
      }
    }
    >li:nth-child(2){
      ul{
        position:absolute;
        background: #fff;
        display:none;
        li{       
          a{
            @extend %a;
          }
        }
      }
      
    }
    float:left;
    li{
      &:hover{
        ul{display: block;}
        color:red;
        background: #fff;
      }
      float:left;
      width: 80px;
      height: 36px;
      line-height: 36px;
      position:relative;
      img{
        width: 16px;
        height: 11px;
        margin-right: 5px;
        margin-bottom: 3px;
      }
    }
  }
  ul:nth-child(2){
    li{
      i{width: 11px;height: 20px;
        display:inline-block;
        background:url('../img/appCodeImg.png');
        position: absolute;
        top:9px;
        left:-20px; 
      }
      .appcode{
        width: 122px;
        height: 138px;
        background:url('../img/appCodeImg.png')
        no-repeat -46px 0;
        position:absolute;
        z-index: 10;
        left:-24px;
        top:30px;
        display:none;
      }
      a{color:#000;}
      position:relative;
      float:left;
      height: 36px;
      line-height:36px ;
      margin-right: 20px;
    }
    li:nth-child(1){
      &:hover{
        .appcode{display:block}
      }
    }
    >li:nth-child(2){
      span{color:red}
    }
    li:nth-child(3){
      span{color:red}
    }
  }
}
header{
  height: 76px;
  margin:50px 0 30px 0;
  .logo{
    width: 400px;
  }
  .search{
    width: 510px;
    height: 44px;
    a{
      margin:0 5px;
    }
    a:nth-child(1),a:nth-child(2),
    a:nth-child(4),a:nth-child(7){
      color:red;
    }
  }
  //购物车
  .cart{
    a{
      display: block;
      width: 124px;
      height: 44px;
      background: #ececec;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
      span:nth-child(1){
        color:red;
      }
    }
  }
}
.fixed{
  position:fixed;
  z-index: 20;
  left:0;
  right:0;
  top:0;
  height: 57px;
  margin-top:5px;
  background:rgba($color: #fff, $alpha: 0.6);
  // background: #fff;
  .serach-hot,.cart{
    display:none;
  }

}
.icon-new{
  display: block;
  width: 9px;
  height: 14px;
  background:url('../img/new.gif') no-repeat ;
  position: absolute;
  left:290px;
  top:0;
}

nav{
  
  ul{
    position:relative;
    >li{
      // position:relative;
      // img{
      //   position:absolute;
      //   left:30px;
      //   top:0;
      // }
      float:left;
      a{
        @extend %nav-h ;
        display:block;
        padding: 0 20px;
      }
    }
  }
  .allgoods{
    width: 160px;
    background: #163672;
    &:hover{
      .b-l{
        display:block;
      }
    >a{
    display:block;
    width: 160px;
    background: #163672;
    @extend %nav-h;
    padding-left: 26px;
    font-weight: 500;
    color:#fff;
    
    }
    }
    
  
  //商品分类
  >.b-l{
    display: none;
    width: 160px;
    background: #183d83;
    position:absolute;
    z-index: 10;
    border:1px solid #183d83;
    >li{
      &:hover{
        .b-r{display:block;}
      }
      >a{
        width: 160px;
        padding-left: 26px;
        display: block;
        @extend %nav-h;
        color:#fff;
        &:hover{
          color:#000;
          background-color:#fff;
        }
      }
    }
    //三级导航
    .b-r{
      display:none;
      width: 1000px;
      // height: 585px;
      background: #f2f2f2;
      position:absolute;
      left:160px;
      top:0;
      li{
        float:left;
        a{
          &:hover{
            color:red;
          }
          display:inline-block;
          color:#000;
          @extend %nav-h;
          margin:0 5px;
        }
      }
      .b-t{
        width: 80px;
        color:#333;
        margin-right: 20px;
        margin-left: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
}
//end 头部

//新品上架
.newgoods{
  margin-top: 50px;
  .newgoods-t{
    text-align:center;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    strong{
      font-size: 25px;
      display: inline-block;
      margin-right: 5px;
    }
    span{
      color:#999;
      display: inline-block;
      margin-left: 5px;
    }
  }
  .newgoods-list{
    width: 1200px;
    height: 781px;
    overflow: hidden!important;
    .bd{
      width: 6000px;
      height: 780px;
      position:absolute;
     
      ul{
        float:left;
        width: 1200px;
        // overflow: hidden;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        li{
          float:left;
          width: 20%;
          height: 260px;
          border-right:1px solid #ddd;
          border-bottom:1px solid #ddd;
          text-align: center;
          position:relative;
          overflow: hidden;
          img{
            width: 200px;
            height: 200px;
          }
          .fd{
            width: 100%;
            height: 100px;
            position:absolute;
            bottom:-80px;
            text-align: center;
            background: #fff;
            z-index: 8;
          }
        }
      }
    }
  }
}
//热卖推介
.hotTitel{
  width: 1200px;
  ul{
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    li{
      float:left;
      width: 398px;
      height: 188px;
      border-right:1px solid #ddd;
      border-bottom:1px solid #ddd;
      overflow: hidden;
      img{
        display:block;
        width: 180px;
        height: 140px;
        float:left;
        margin-top: 25px;
      }
      .hot-r{
        float:right;
        width: 210px;
        margin-top: 15px;
        p{
          margin-top: 10px;
          span{
            display: inline-block;
          }
        }
      }
    }
  }
}
//全球购
.quanqiugou{
  margin-top: 50px;
  @for $i from 1 to 9{
    .btn-#{$i}{
      @extend %btn-#{$i};
      a{
        transition: top 1s;
        &:hover{
          transform: translateY(-40px);
        }
      }
    }
  }
}
.popular{
  padding-top: 50px;
  .titel-tps{
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    text-align: center;
    h2{
      font-size: 24px;
      font-weight: 500;
      display: inline-block;
    }
    p{
      margin-top: 10px;
      color:#999;
      float:right;
      line-height: 36px;
    }
  }

  .titelDetail{
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    a{
      display:inline-block;
      padding: 0 15px;
    }
  }
  
  .tab{
    border:1px solid #ddd;
    border-bottom:  none;
    //左边
    .l-side{
      width: 240px;
      float:left;
      ul{
        height: 156px;
        overflow: hidden;
        padding:10px;
        position:relative;
        li{
          float:left;
          width: 50%;
          a{
            display:block;
            padding: 0 10px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    // 轮播图
    .activety{
      position: relative;
      float:left;
      width: 720px;
      margin:0 -1px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    //右边轮播
    .r-side{
      width: 240px;
      height: 345px;
      overflow: hidden;
      position:relative;
      ul{
        overflow: hidden;
        width: 720px;
        position:absolute;
        left:0;
        top:0;
        li{
          float:left;
          text-align: center;
          width: 240px;
          padding:0 5px;
          a{
            display: block;
            height: 66px;
            width: 200px;
            margin-top: 20px;
            margin-left: 15px;
            border-bottom: 1px dashed #ddd;
          }
        }
      }
    }
  }
  .list-clear{
    ul{
      width: 1200px;
      overflow: hidden;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      li{
        float:left;
        width: 20%;
        height: 260px;
        border-right:1px solid #ddd;
        border-bottom:1px solid #ddd;
        text-align: center;
        position:relative;
        overflow: hidden;
        img{
          width: 200px;
          height: 200px;
        }
        .ffd{
          width: 100%;
          height: 100px;
          position: absolute;
          bottom:-80px;
          text-align: center;
          background: #fff;
          z-index: 8;
        }
      }
    }
  }
}
//楼梯菜单
.stairs{
  display:none;
  width: 50px;
  position:fixed;
  right:0;
  top:50%;
  transform: translate(0,-50%);
  background:rgba($color: #fff, $alpha: 0.6);
  p{
    &:hover{
      color:red
    }
    width: 40px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    
  }
  .totop{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ddd;
    text-align: center;
  }
}
.show{
  display: block;
}

//footer----->
footer{
  background: #eee;
  color:#999;
  border:1px solid #ddd;
  font-size: 12px;
  .bottom-l{
    width: 592px;
   .img{
     padding:15px 0;
   }
    p{
      height: 24px;
      line-height: 24px;
    }
  }
  .bottom-c{
    width: 352px;
    padding-left: 50px;
    p:nth-child(1){
      padding-top: 20px;
      margin-bottom: 40px;
    }
    p:nth-child(3),
    p:nth-child(4){
      padding-top: 20px;
    }
    a{
      padding:0 10px;
    }
  }
  .bottom-r{
    width: 160px;
    height: 198px;
    background: #e65050;
    text-align: center;
    img{
      width: 114px;
      height: 114px;
      margin-top: 35px;
      margin-bottom: 15px;
    }
    p{
      color:#fff;
      font-size: 14px;
    }
  }

}